@tailwind base;
@tailwind components;
@tailwind utilities;

/** future colors
https://realtimecolors.com/?colors=e4e7ec-0a0c0f-d5cdc3-13161b-947f65
LIGHT
--text: hsl(216, 20%, 5%);
--background: hsl(218, 17%, 91%);

--primary: hsl(33, 18%, 80%);

--secondary: hsl(216, 18%, 89%);

--accent: hsl(33, 19%, 19%);


*/
@layer base {
  :root {
    --background: 218 17% 91%; /* changed*/
    --foreground: 216 20% 5%; /*changed */

    --card: 218 17% 91%; /* changed*/
    --card-foreground: 216 20% 5%; /*changed */

    --popover: 218 17% 91%; /* changed*/
    --popover-foreground: 216 20% 5%; /*changed */

    --primary: 33 18% 80%; /* changed */
    --primary-foreground: 216 20% 5%; /* changed */

    --secondary: 216 18% 89%; /* changed */
    --secondary-foreground: 216 20% 5%; /* changed */

    --muted: 33 18% 80%%; /* changed */
    --muted-foreground: 216 20% 5%; /* changed */

    --accent: 33 19% 19%; /* changed */
    --accent-foreground: 216 20% 5%; /* changed */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 33 19% 19%; /* changed */
    --input: 33 19% 19%; /* changed */
    --ring: 33 19% 49%; /*changed */

    --radius: 0.5rem;
  }

  /*
  DARK
--text: hsl(218, 17%, 91%);
--background: hsl(216, 20%, 5%);

--primary: hsl(33, 18%, 80%);

--secondary: hsl(218, 17%, 9%);

--accent: hsl(33, 19%, 49%);
*/
  .dark {
    --background: 216 20% 5%; /* changed */
    --foreground: 218 17% 91%; /* changed */

    --card: 216 20% 5%; /* changed */
    --card-foreground: 218 17% 91%; /* changed */

    --popover: 216 20% 5%; /* changed */
    --popover-foreground: 218 17% 91%; /* changed */

    --primary: 33 18% 80%; /* changed */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 218 17% 9%; /* changed */
    --secondary-foreground: 218 17% 91%; /* changed */

    --muted: 33 18% 80%; /* changed */
    --muted-foreground: 218 17% 91%; /* changed */

    --accent: 33 19% 49%; /* changed  */
    --accent-foreground: 218 17% 91%; /* changed */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 33 19% 49%; /* changed  */
    --input: 33 19% 49%; /* changed  */
    --ring: 33 19% 49%; /* changed  */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
