@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://realtimecolors.com/?colors=080708-e9e7e9-98a49a-eceeee-373e38 */
@layer base {
  :root {
    --background: 300 4% 91%;
    --foreground: 300 7% 3%;
    --card: 180 6% 93%;
    --card-foreground: 300 7% 3%;
    --popover: 300 4% 91%;
    --popover-foreground: 300 7% 3%;
    --primary: 130 6% 62%;
    --primary-foreground: 300 7% 3%;
    --secondary: 180 6% 93%;
    --secondary-foreground: 300 7% 3%;
    --muted: 180 6% 93%;
    --muted-foreground: 180 6% 40%;
    --accent: 129 6% 23%;
    --accent-foreground: 300 7% 3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 300 7% 3%;
    --border: 129 6% 23%;
    --input: 129 6% 23%;
    --ring: 129 6% 23%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 300 7% 3%;
    --foreground: 300 4% 91%;
    --card: 180 6% 13%;
    --card-foreground: 300 4% 91%;
    --popover: 300 7% 3%;
    --popover-foreground: 300 4% 91%;
    --primary: 130 6% 62%;
    --primary-foreground: 300 7% 3%;
    --secondary: 180 6% 13%;
    --secondary-foreground: 300 4% 91%;
    --muted: 180 6% 13%;
    --muted-foreground: 180 6% 40%;
    --accent: 129 6% 53%;
    --accent-foreground: 300 4% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 4% 91%;
    --border: 129 6% 53%;
    --input: 129 6% 53%;
    --ring: 129 6% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
